<br />
<div class="container">
    <h4>About Us</h4>

    <p>
        <blockquote>
            UsedGuitar is a project initiated by <strong>Gomiczom Musical Instruments</strong>.
            Gomiczom Musical Instruments in Uttam Nagar, Delhi Gomiczom Musical Instruments in Delhi.
            Musical Instrument Dealers with Address, Contact Number, Photos, Maps. View Gomiczom
            Musical Instruments, Delhi on Justdial. Founded in the year 2008, Gomiczom Musical
            Instruments in Uttam Nagar, Delhi is amongst the recognised and eminent dealers for a
            variety of musical instruments. As a time-served player in the music industry, it has
            developed a repute for retailing in various kinds of musical instruments and accessories.
            This is one-stop shop for a wide segment of musical instruments and equipments and urge to
            meet the ever-growing needs of the musicians, locally and nation-wide. This establishment
            is passionately involved in the business and keeps introducing new and enhanced equipments
            to diversify their product range whilst catering to the requirements of music lovers and performers.
            Holding quality as paramount, this retailer is known for stocking quality guitars, drum kits,
            keyboards, recording equipment and accessories. You can find this dealer on Pankha Road in Uttam
            Nagar. It stands at a noticeable location Pankha Road. You can reach out to this musical instrument
            dealer on the following contact numbers: +(91)-9560632216,8447745451.
        </blockquote>
    </p>
</div>