<br />
<div class="container">
    <h4>Contact Us</h4>

    <address>
        A 113, Pankha Road,Uttam Nagar <br />
        Delhi - 110059 <br />
        Near Uttam Nagar East Metro Station<br />
        <abbr title="Phone">Mob:</abbr>
        +91 9560632216, +91 8447745452
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:deepakgomic@gmail.com">deepakgomic@gmail.com</a><br />
    </address>
</div>