
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            @*<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>*@
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('../../Images/pic1.jpg');background-position: center center;background-size: cover;">
                <div class="carousel-caption d-none d-md-block" style="color:#1b2734">
                    <h2>Web Developement</h2>
                    <h3>We will provide you best web development service using latest technologies.</h3>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('../../Images/pic2.jpg');background-position: center center;background-size: cover;">
                <div class="carousel-caption d-none d-md-block" style="color:#5e686d">
                    <h2>Web Designer V/S Web Developer</h2>
                    <h3>You dont need to bother about these stuff.</h3>
                </div>
            </div>
            @*<div class="carousel-item" style="background-image: url('../../Images/pic3.png');background-position: center center;background-size: cover;">
                    <div class="carousel-caption d-none d-md-block"style="color:#5e686d">
                        <h1>Our working websites......</h1>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('../../Images/pic4.png');background-position: center center;background-size: cover;">
                </div>*@
            <div class="carousel-item" style="background-image: url('../../Images/pic5.jpeg');background-position: center center;background-size: cover;">
                <div class="carousel-caption d-none d-md-block" style="color:#ffffff">
                    <h2>Web Developement</h2>
                    <h3>We will provide you best web development service using latest technologies.</h3>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('../../Images/pic6.jpg');background-position: center center;background-size: cover;">
                <div class="carousel-caption d-none d-md-block" style="color:#1b2734">
                    <h2>Web Developement</h2>
                    <h3>We will provide you best web development service using latest technologies.</h3>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>